# Byte-compiled / optimized / compressed files
__pycache__/
*.py[cod]
*$py.class

# IDE files
.vscode/
.idea/

# Virtual environment
.venv/
venv/
env/
/bin/
/include/
/lib/

# Test/Coverage reports
.coverage
htmlcov/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

.env